.class-content {
	margin-left: 12%;
}

.ui-state-highlight {
	background-color: #eeeeee !important;
}

.category-content {
	font-family: cursive;
	height: 800px !important;
}

.category-manage-list {
	width: 100%;
	padding-right: 2%;
	height: 100% !important;
	border-right: 1px solid #c8c9c9;
}

.category-manage-create {
	width: 100%;
}

.title-list-category {
	font-size: 15px;
	font-weight: bold;
	padding: 5%;
}

.title-create-category {
	font-size: 15px;
	font-weight: bold;
	padding-left: 10%;
}

.create-name {
	font-size: 15px;
	padding: 5%;
}

.button-create {
	margin-left: 30%;
}

.ui-inputfield {
	color: black !important;
}

.ui-column-title {
	font-size: 17px;
	font-weight: bold;
	font-family: cursive;
	padding-left: 35%;
}

.name-column {
	padding-left: 20% !important;
}

.action-column {
	width: 30%;
	text-align: center;
}

.title-form-delete {
	text-align: center;
	font-family: sans-serif;
	font-size: 18px;
	font-weight: bold;
}

.content-form-delete {
	text-align: center;
}

.action-button-delete {
	margin-left: 23%;
}

.ui-cell-editor-output {
	font-size: 17px;
	font-weight: bold;
}


