.class-content {
	margin-left: 12%;
}

.category-content {
	display: flex;
	font-family: cursive;
	width: 95%;
}

.category-manage-list {
	width: 60%;
	padding-right: 2%;
}

.category-manage-create {
	width: 30%;
	padding: 2%;
	border-left: 1px solid;
}

.title-list-category {
	font-size: 15px;
	font-weight: bold;
	padding: 5%;
}

.title-create-category {
	font-size: 15px;
	font-weight: bold;
	padding: 10%;
}

.create-name {
	font-size: 15px;
	padding: 5%;
}

.button-create {
	margin-left: 30%;
}

.ui-inputfield {
	color: black !important;
}

.ui-column-title {
	font-size: 17px;
	font-weight: bold;
	font-family: cursive;
}

.name-column {
	padding-left: 20% !important;
}

.action-column {
	padding-left: 20% !important;
}