.class-content {
	margin-left: 12%;
}

.content-create-user {
	margin: 5%;
	width: 70% !important;
	margin-left: 15%;
	border-radius: 15px;
}

#content-create-user {
	box-shadow: 5px 5px 5px 5px black;
	background-color: #a2e4fe;
}

.element-create {
	width: 110%;
	padding-left: 4%;
	padding-bottom: 5%;
	display: flex !important;
}

.ui-state-default {
	font-family: cursive;
	font-size: 17px;
	background-color: white;
	font-weight: bold;
/* 	border: 1px solid;
	border-radius: 15px !important; */
}

.ui-fieldset-legend {
	padding: 10px !important;
}

.fieldset {
	border: 1px solid !important;
	border-radius: 15px !important;
	margin-bottom: 2%;
}

.logo {
	padding-left: 40%;
	padding-bottom: 5%;
}

.title-element-create {
	width: 30%;
	padding-left: 10%;
	font-family: cursive;
	font-size: 15px;
	font-weight: bold;
}

.input-content-element {
	width: 60%;
}

.content-element {
	width: 80%;
}

.button-create {
	padding-left: 40%;
	padding-bottom: 3%;
}

.commention {
	background-color: white;
	border-radius: 15px !important;
	padding-bottom: 5%;
	padding: 2%;
	border: 1px solid;
}

.comment {
	width: 110%;
	padding-left: 15%;
	padding-bottom: 5%;
	display: flex !important;
}

.button-non-accept {
	margin-left: 42%;
}

.input-comment {
	width: 50%;
	margin-left: 10%;
}

.label-comment {
	font-family: cursive !important;
	font-weight: bold;
	font-size: 15px;
}

.dlg-role {
	width: 30% !important;
}

.title-form-create {
	text-align: center;
	font-family: cursive;
	font-weight: bold;
	font-size: 15px;
	padding-bottom: 5%;
	margin-left: 5% !important;
}

.select-role {
	width: 150%;
	padding-left: 25%;
	padding-bottom: 5%;
	display: flex !important;
}

.title-select {
	font-family: cursive;
	font-size: 15px;
	font-weight: bold;
}