.class-content {
	margin-left: 12%;
}

.content-create-user {
	margin-top: 3%;
	margin-left: 5%;
	margin-bottom: 3%;
	width: 70% !important;
	border-radius: 15px;
	margin-bottom: 3%;
}

#content-create-user {
	box-shadow: 5px 5px 5px 5px black;
	background-color: #a2e4fe;
}

.element-create {
	width: 110%;
	padding-left: 4%;
	padding-bottom: 5%;
	display: flex !important;
}

.ui-state-default {
	font-family: cursive;
	font-size: 17px;
	background-color: white;
	border: 1px solid;
	font-weight: bold;
	border-radius: 15px !important;
}

.ui-fieldset-legend {
	padding: 10px !important;
}

.fieldset {
	border: 1px solid !important;
	border-radius: 15px !important;
	margin-bottom: 2%;
}

.logo {
	padding-left: 40%;
	padding-bottom: 5%;
}

.title-element-create {
	width: 30%;
	padding-left: 10%;
	font-family: cursive;
	font-size: 15px;
	font-weight: bold;
}

.input-content-element {
	width: 60%;
}

.content-element {
	width: 80%;
}

.button-create {
	padding-left: 40%;
	padding-bottom: 3%;
}

.select-menu {
	width: 48%;
	text-align: center;
}

.ui-selectonemenu-label {
	text-align: center !important;
}

.commention {
	background-color: white;
	border-radius: 15px !important;
	padding-bottom: 5%;
	padding: 2%;
	border: 1px solid;
}

.comment {
	width: 110%;
	padding-left: 15%;
	padding-bottom: 5%;
	display: flex !important;
}

.button-non-accept {
	margin-left: 42%;
}

.input-comment {
	width: 50%;
	margin-left: 10%;
}

.label-comment {
	font-family: cursive !important;
	font-weight: bold;
	font-size: 15px;
}

.input-content-element-image {
	width: 60%;
}

.img {
	width: 80%;
}

.upload-img {
	
}

.img-post {
	width: 100%;
}