 #main-area-panel {
	background-color: #eeeeee
}
 
.menu-header {
	margin-left: 10%;
	display: flex;
	width: 80% !important;
	text-align: center;
	font-family: cursive;
	font-size: 20px;
	border-bottom: 1px solid;
	font-weight: bold;
}

.footer {
	height: 10%;
}

.cate-header {
	margin-left: 1%;
	padding: 3% !important;
}

.img-background {
	margin-top: 5%;
	width: 100%;
}

.img-welcome {
	width: 100%;
}

