.class-content {
	margin-left: 12%;
}

.content-dashboard-user {
	margin-top: 20px;
	margin-bottom: 20px;
	width: 81% !important;
}

.title-manage-user {
	font-family: cursive;
	font-weight: bold;
	font-size: 17px;
	margin-left: 40%;
	border-bottom: 1px solid;
	padding: 5px;
	margin-bottom: 5%;
	width: 20%;
	text-align: center;
}

.button-create {
	margin-bottom: 2%;
}

.ui-datatable .ui-datatable-header, .ui-datatable .ui-datatable-footer {
	text-align: right !important;
}

.ui-datatable thead th {
	text-align: center !important;
}

.ui-column-title {
	font-family: cursive;
	font-size: 17px;
	font-weight: bold;
}

.rowToggler {
	width: 4%;
}

.action-column {
	width: 15%;
}

.create {
	width: 15%;
}

.update {
	width: 12%;
}

.action-button {
	text-align: center;
}

.name-column {
	width: 25%;
}

.post-data {
	height: 800px !important;
}