#main-area-panel {
	background-color: #eeeeee
}

.menu-header {
	margin-left: auto;
	width: 100% !important;
	text-align: center;
	font-family: cursive;
	font-size: 20px;
	font-weight: bold;
}

.border-header {
	border-bottom: 1px solid;
	display: flex;
	width: 81%;
	padding-left: 9%;
	padding-right: 8%;
}

.footer {
	height: 10%;
}

.cate-header {
	margin-left: 3%;
	margin-right: 3%;
	padding: 3% !important;
}

.img-background {
	margin-top: 5%;
	width: 100%;
}

.img-welcome {
	width: 100%;
}