a {
	color: black !important;
}

td {
	color: black !important;
}


/*  th.ui-state-active{
	color: black !important;
} 
 */
.ui-state-active {
	background-color: #ffffff !important;
	border-top-color: #d8d8d8 !important;
}

.ui-datatable thead tr th .ui-sortable-column-icon.ui-icon {
	color: black !important;
}
.class-content {
	margin-left: 12%;
}
	
.content-dashboard-user {
	margin-top: 20px;
	margin-bottom: 20px;
	width: 81% !important;
}

.title-manage-user {
	font-family: cursive;
	font-weight: bold;
	font-size: 17px;
	margin-left: 40%;
	border-bottom: 1px solid;
	padding: 5px;
	margin-bottom: 5%;
	width: 20%;
	text-align: center;
}

.button-create {
	margin-bottom: 2%;
}

.ui-datatable .ui-datatable-header, .ui-datatable .ui-datatable-footer {
	text-align: right !important;
}

.ui-datatable thead th {
	text-align: center !important;
}

.ui-column-title {
	font-family: cursive;
	font-size: 17px;
	font-weight: bold;
	color: black !important;
}

.rowToggler {
	width: 4%;
}

.action-column {
	width: 15%;
}

.create {
	width: 15%;
}

.update {
	width: 12%;
}

.action-button {
	text-align: center;
}

.name-column {
	width: 25%;
}

.post-data {
	height: 400px !important;
}

.description-content {
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}