.class-content {
	margin-left: 12%;
}

.content-dashboard-user {
	margin-top: 20px;
	margin-bottom: 20px;
	width: 81% !important;
}

.title-manage-user {
	font-family: cursive;
	font-weight: bold;
	font-size: 17px;
	margin-left: 40%;
	border-bottom: 1px solid;
	padding: 5px;
	margin-bottom: 5%;
	width: 20%;
	text-align: center;
}

.button-create {
	margin-bottom: 2%;
}

.user-data {
	height: 700px !important;
}

.ui-column-title {
	font-family: cursive;
	font-size: 17px;
	font-weight: bold;
	margin-left: 30%;
}

.action-column {
	text-align: center;
}