.footer-dark {
	padding: 3px 0;
	color: #f0f9ff;
	font-family: cursive !important;
	height: 5% !important;	
	background-color: #282d32;
	margin-left: 3%;
}


.container-footer-row {
	padding-left: 5%;
}

.container-footer-row {
	display: flex;
}

.item {
	padding-left: 20%;
}