.class-content {
	margin-left: 12%;
}

.content-home {
	margin-top: 20px;
	margin-bottom: 20px;
	display: flex;
	height: 700px !important;
}

.side-bar {
	width: 25%;
	padding-left: 10%;
	padding-right: 2%;
}

.content-post {
	height: 750px;
}

.post-item-content {
	padding-left: 5.5%;
}

.post-info {
	width: 80% !important;
}

.img {
	width: 80%;
	height: 30% !important;
}

.img-post {
	height: 30% !important;
}

.ui-column-title {
	font-family: cursive;
	font-size: 20px;
	font-weight: bold;
	padding-left: 5.5%;
}

.title-post-detail {
	font-size: 20px;
	font-weight: bold;
	margin-left: 30%;
}

.img-post-detail {
	height: 15%;
	margin-left: 30%;
	margin-top: 2%;
	margin-bottom: 2%;
}

.content-post-detail {
	margin-bottom: 30px;
	margin-left: 10%;
}

.title-form-create {
	font-family: cursive;
	font-size: 20px;
	font-weight: bold;
}

.post-description {
	font-family: serif !important;
	font-weight: normal;
	margin-top: 5px;
}

/* .borders {
	border: 1px solid red;
} */

.content-home {
	display: flex !important;
}

.ui-widget-header {
	border: 1px solid #eeeeee !important;
	background: #eeeeee !important;
}

.ui-corner-all {
	color: black !important;
}

.ui-state-active {
	background-color: #eeeeee !important;
}









